.header {
    grid-column: 1 / -1;
    // background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.8));
    background-size: cover;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    &__logo {
        padding: 2rem;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }

    &__balance {
        color: var(--color-white);
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 3rem;

        @media only screen and (max-width: $bp-smallest) {
            text-align: center;
        }
    }

    &__balance-value {
        font-weight: 700;
        color: var(--color-secundary);

        &--red {
            color: var(--primary-color-red);
        }
    }

    &__box-bar {
        width: 50rem;
        background-color: var(--primary-color-blue);
        &--red {
            background-color: var(--primary-color-red);
        }

        padding: 2rem;
        font-weight: 600;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 50% max-content max-content 1fr;
        align-items: center;
        gap: 0 2rem;
        font-size: 2rem;
        color: var(--color-white);

        @media only screen and (max-width: $bp-small) {
            width: 40rem;
            grid-template-columns: 40% max-content max-content 1fr;
        }

        @media only screen and (max-width: $bp-smallest) {
            width: 35rem;
            grid-template-columns: 30% max-content max-content 1fr;
        }

        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }

        &:last-of-type {
            margin-bottom: 4rem;
        }
    }

    &__box-bar-text {
        margin-left: 1rem;
    }

    &__box-bar-value {
        justify-self: end;
    }

    &__box-bar-percent {
        justify-self: end;
        color: #630c0c;
        /* background-color: #a3141454; */
        /* padding: 1rem; */
    }
}

// .logo-icon {
//     width: 5rem;
//     height: 5rem;
//     fill: var(--primary-color-blue);
// }
