main {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10rem;
    margin-bottom: 20rem;
    width: 80%;
    justify-self: center;

    // border-top-right-radius: 8rem;
    // border-top-left-radius: 8rem;
    border-radius: 8rem;
    // background-color: #2e1954;
    background-color: var(--secondary-color-dark);

    @media only screen and (max-width: $bp-big) {
        width: 100%;
    }
}