/* Fonts: 
    font-family: 'Permanent Marker', cursive;
    font-family: 'Montserrat', sans-serif;
*/

/* Colors:
    #0d66a1
    #ee2727
    #097a09

    // new
    #301362
    #160C28
    #00FFBF
*/

// SASS variables
$transaction-item-color: #160C28;



// CSS variables
:root {
    // static variables
    --primary-color: #00FFBF;
    --primary-color-dark: #00b688;
    --primary-color-light: #49ffd1;
    --secondary-color: #301362;
    --secondary-color-dark: #160C28;
    --secondary-color-light: #6929d6;

    --secondary-color-dark-rgb: 105, 41, 214;

    --color-white: #ffffff;
    --color-grey: #d4d4d4;
    --color-special1: #3E8914;
    

    // dynamic variables
    --progress-bar-color: #49ffd1; // till 69% #49ffd1 and from 70% #6929d6

    --primary-color-blue: #0d66a1;
    --primary-color-red: #ee2727;
    
    --color-secundary: #097a09;
    --color-inputs: #0d66a1;

    --url-bg-image: url(../img/background3.jpg);
}

//breackpoints
$bp-large: 78.125em;    // 1250 px
$bp-big: 56.25em;       // 900 px
$bp-medium: 47.5em;     // 760px
$bp-small: 34.375em;    // 550px
$bp-smallest: 23.75em;  // 380 px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-small) {
        font-size: 50%;
    }
}

body {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Montserrat Alternates', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    // background-image: linear-gradient(to right, var(--primary-color-blue), var(--primary-color-red));
    // background-image: linear-gradient(to right, var(--primary-color-blue), #8a0101);
    background-color: var(--secondary-color);
    // background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.8));

}

input {
    font-family: 'Montserrat Alternates', sans-serif;
}

input, select {
    @media only screen and (max-width: $bp-small) {
        margin-bottom: 1rem;
    }
}