
// buttons for add new transaction popup
.new-btn {
    padding: 2rem 4rem;
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.7rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-grey);
}

.new-btn:active {
    transform: translateY(3px);
}

.cancel-btn {
    margin-right: 1rem;
    // background-color: var(--primary-color-dark);
    color: var(--secondary-color-light);
}

.add-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color-light);
}